# by default suffix `Dump` used for restore backups. All options below are required
[mysqldumpDump]
host=localhost
user=root
password=Root_Password
port=3306

# by default suffix `Restore` used for restore backups. All options below are required
[mysqldumpRestore]
host=localhost
user=root
password=Root_Password
port=3306
